html, body, div {
    margin: 0;
    padding: 0;
    font-family: 'Arial';
}

body {
    margin: 0 auto;
}

.title {
    text-align: center;
}

#constants_info, #changed_info {
    list-style: none;
    margin: 0 20px;
    padding: 0;
}

#last-visit > ul {
    padding: 0;
}

ul > li {
    padding: 10px 20px;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

ul > li:nth-child(odd) {
    background-color: #e0e0e0;
    border-bottom: 1px solid #000;
}

ul > li:nth-child(even) {
    border-right: 1px solid #000;
}

.user_data {
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
}

.user_data > * {
    white-space: nowrap;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
}